body {
    padding-top: 50px;
}

.view-area {
    padding: 40px 15px;
}

.debug {
    color: #797B74;
    text-align: center;
    border: 1px dashed #c5c5c5;
    margin: 25px 0 0 0;
    padding: 15px;
}

.info {
    color: #797B74;
    text-align: left;
    border: 1px dashed #c5c5c5;
    margin: 25px 0 0 0;
    padding: 5px;
}

.scrolltable {
    overflow: scroll;
    height: 100px;
}


/*
 * window elements
 */

.window {
    background-color: lightgray;
    position: absolute;
    padding: 5px;
    display: flex; 
    flex-direction: column;;
}

.titlebar {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
}

.title {
    flex-grow: 1;
}

.decorator {
    flex-grow: 0;
}

.windowcontent {
    flex-grow: 1;
    display: flex;
}


/*
 * iframe in window
 */
.iframe-in-window {
    flex-grow: 1;
}

/*
 * Data Table
 */

.data-table {
    scroll-behavior: auto;
    overflow-y: scroll;
}
